.navbar {
    display: flex; 
    justify-content: space-between;
    box-shadow: .5px .5px 5.px #888;
}

.navbarList {
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 2rem; 
    flex-direction: row;
    width: 100%;
}

.navbarListElement {
    display: inline;
    margin-right: 15px;
}